.filter__genre
   .checkbox.checkbox--film
     label.checkbox__label
       input.checkbox__input.checkbox__input--film(name='film', value='film', type='checkbox')
       span.checkbox__field.checkbox__field--blue
     .checkbox__inner
       span.checkbox__text Фильмы
   .checkbox.checkbox--serial
     label.checkbox__label
       input.checkbox__input.checkbox__input--serial(name='genre', value='serial', type='checkbox')
       span.checkbox__field.checkbox__field--red
     .checkbox__inner
       span.checkbox__text Сериалы
   .checkbox.checkbox--sport
     label.checkbox__label
       input.checkbox__input.checkbox__input--sport(name='genre', value='sport', type='checkbox')
       span.checkbox__field.checkbox__field--green
     .checkbox__inner
       span.checkbox__text Спорт