header
  h2 Телеканалы
  nav(role='navigation')
  ul.listv
    li.listv__channel
      a(href='index.html')
        span.listv__channel__logo
          span.listv__channel__logo--1tv
          span.listv__channel--title Первый
    li.listv__channel
      a(href='rentv.html')
        .listv__channel__logo
          span.listv__channel__logo--rentv
          span.listv__channel--title РЕН ТВ
    li.listv__channel
      a(href='dom.html')
        span.listv__channel__logo
          span.listv__channel__logo--domtv
          span.listv__channel--title Домашний
    li.listv__channel
      a(href='match.html')
        span.listv__channel__logo
          span.listv__channel__logo--match
          span.listv__channel--title МАТЧ ТВ
    li.listv__channel
      a(href='ntv.html')
        span.listv__channel__logo
          span.listv__channel__logo--ntv
          span.listv__channel--title НТВ