input#weeks_nav1(type='radio', name='tabs', checked='')
label.weeks_nav__item(for='weeks_nav1')
  .weeks_nav__item__name
    | пн
  .weeks_nav__item__day
    | 18
input#weeks_nav2(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav2')
  .weeks_nav__item__name
    | вт
  .weeks_nav__item__day
    | 19
input#weeks_nav3(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav3')
  .weeks_nav__item__name
    | ср
  .weeks_nav__item__day
    | 20
input#weeks_nav4(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav4')
  .weeks_nav__item__name
    | чт
  .weeks_nav__item__day
    | 21
input#weeks_nav5(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav5')
  .weeks_nav__item__name
    | пт
  .weeks_nav__item__day
    | 22
input#weeks_nav6(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav6')
  .weeks_nav__item__name
    | сб
  .weeks_nav__item__day
    | 23
input#weeks_nav7(type='radio', name='tabs')
label.weeks_nav__item(for='weeks_nav7')
  .weeks_nav__item__name
    | вск
  .weeks_nav__item__day
    | 24